<h1>Product#show</h1>
<%= button_to  'Remove', @product, method: :delete  %>
<%= link_to 'Edit', edit_product_path(@product) %>
<%= link_to 'Home', product_index_path() %>
<p><%= 'ID: ' + @product.id.to_s %></p>
<p><%= 'Name: ' + @product.name %></p>
<p><%= 'Price: ' + @product.price.to_s %></p>
